body {
    font-family: 'Overpass', sans-serif;
    margin: 0;
    color: white;
}
html {
    background-image: url(backgroundimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

#fullpage {
    overflow: scroll;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-right: 0;
    max-width: 100%;
    overflow-x: hidden;
}


/* MENU SECTION */

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(0, 0, 0, .1);
    margin: 0;
    position: fixed;
    width: 100%;
}
#menubuttons {
    margin: 10px;
    font-size: 18px;
}
#menubuttons:hover {
    background-color: rgb(230, 171, 120);
    color: black;
}

a {
    font-size: 15px;
    font-weight: 100;
}

a:link {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
a:visited{
    color: white;
}
a:hover {
    font-weight: bold;
    font-weight: 300;
}

/* NAME AND LOCATION */

#name-location-container {
    height: 805px;
    display: flex;
    font-weight: 100;
    flex-direction: column;
    justify-content: center;
}
    .name {
        position: relative;
        font-size: 50px;
        justify-content: center;
        display: flex;
    }
    .location {
        margin-top: -30px;
        justify-content: center;
        display: flex;
    }

/* PROJECTS */

#projects {
    background-color: #F7EDD4;
    width: 100%;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
}
#projectsheader {
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: black;
    font-weight: bold;
}
#projectimg {
    display: flex;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
}
#projectp {
    display: flex;
    color: black;
    font-weight: 100;
    font-size: 19px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 2em;
}
#projectcontainer {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 100px;
}
#projectcolumn {
    display: flex;
    flex-direction: column;
}
#projflex {
    display: flex;
    flex-direction: row;
}

/* CAREER SECTION */

.career {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    background-color: #3D3E3D;
    border-radius: 5px;
    padding-bottom: 50px;
}
#jobs {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 20px;
}
#careerheadline {
    font-weight: 600;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 50px;
    margin-top: 80px;
}
#careerp {
    display: flex;
    justify-content: center;
    line-height: 2em;
    font-weight: 200;  
    margin-right: 100px;
    margin-left: 100px;
}
#student {
    margin-top: 0;
}

/* ABOUT ME */

#aboutheadline {
    margin-top: 80px;
    font-size: 50px;
}
.aboutme {
    margin: auto;
    margin-top: 0;
    background-color: #F19117;
    height: 820px;
}
#education {
    color: black;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}
li {
    font-weight: 200;
}
#interests {
    color: black;
    font-size: 20px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
}
#interestsp {
    margin-bottom: 50px;
    font-weight: 200;
}

/* LETS CONNECT */

#contactcontainer {
    width: 100%;
    background-color: #919084 
} 

#contact-info-container {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
span {
    display: flex;
    line-height: 1.5em;
    justify-content: center;
    width: 200px;
    margin: auto;
}
#phone {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}
#mail {
    height: 20px;
    width: 20px;
    padding-right: 5px;
    margin-top: 14px;

}
#connect {
    margin-bottom: 100px;
    width: 800px;
    padding-top: 20px;
    font-size: 100px;
}

/* GITHUB AND LINKEDIN LOGOS */

#contactcontainer {
    margin: 0;
    padding: 0;
}
#medialinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
#github {
    height: 200px;
    width: 200px;
}
#github:hover {
    opacity: .5;
}
#linkedin {
    height: 200px;
    width: 200px;
}
#linkedin:hover {
    opacity: .5;
}

@media (max-width: 1200px) {
    #projectcontainer {
        flex-direction: column;
    }
    .name {
        font-weight: 300;
        font-size: 70px;
    }
    #name-location-container {
        height: 1800px;
    }
    .location {
        font-size: 50px;
        font-weight: 300;
    }
    #projectimg {
        justify-content: center;
    }
    #menu {

    }
}