body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    color: white;
}
html {
    background-image: url(backgroundimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

#background {
    /* background-image: url(backgroundimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%; */
}

#fullpage {
    overflow: scroll;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


/* MENU SECTION */

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(0, 0, 0, .1);
    margin: 0;
}

a {
    font-size: 20px;
}

a:link {
    color: white;
    text-decoration: none;
    padding: 10px;
}
a:visited{
    color: white;
}
a:hover {
    font-weight: bold;
    font-size: 20px;
}

/* GITHUB AND LINKEDIN LOGOS */

#medialinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
#github {
    height: 60px;
    width: 60px;
    opacity: .5;
}

#linkedin {
    height: 60px;
    width: 60px;
    opacity: .5;
}

/* NAME AND LOCATION */

#name-location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .name {
        position: relative;
        font-size: 50px;
        margin-top: 150px;
        justify-content: center;
        display: flex;
    }
    .location {
        margin-top: -30px;
        justify-content: center;
        display: flex;
    }
#contact-info-container {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 20px;
}
span {
    display: flex;
    line-height: 1.5em;
    justify-content: center;
    width: 200px;
    margin: auto;
}
#phone {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}
#mail {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}
#connect {
    font-size: 24px;
}


